[submodule "Algorithm"]
	path = Algorithm
	url = https://github.com/jimin-kiim/Algorithm
[submodule "Operating-System"]
	path = Operating-System
	url = https://github.com/jimin-kiim/Operating-System
[submodule "Software-Engineering"]
	path = Software-Engineering
	url = https://github.com/jimin-kiim/Software-Engineering
[submodule "OOP"]
	path = OOP
	url = https://github.com/jimin-kiim/OOP
[submodule "DBS"]
	path = DBS
	url = https://github.com/jimin-kiim/DBS
[submodule "Computer-Architecture"]
	path = Computer-Architecture
	url = https://github.com/jimin-kiim/Computer-Architecture
[submodule "Programming-Language-and-Compiler"]
	path = Programming-Language-and-Compiler
	url = https://github.com/jimin-kiim/Programming-Language-and-Compiler
[submodule "Linux-System-and-its-Applications"]
	path = Linux-System-and-its-Applications
	url = https://github.com/jimin-kiim/Linux-System-and-its-Applications
